
  html{
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    background: radial-gradient(70.14% 69.04% at 50% 50%, rgba(133, 132, 226, 0) 32.29%, rgba(148, 254, 111, 0.19) 100%), #A3A2ED;
  }

body { 
  min-height: 100vh;   
  display: flex;
  /* Horizontal centering (main axis): */  
  justify-content: center;  
  /* Vertical centering (cross axis): */
  align-items: center;
  padding: 0;
  margin: 0;
}

i {
  font-style: normal;
}

.main-div{
  margin: 0 auto;
}

h3{
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  color: #545368;
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

@media only screen and (max-width:639px) { 

  .main-div{
    padding: 24px 32px 40px 32px;
  }
  
  h1{
    font-family: 'Inter Tight', sans-serif;
    font-style:normal;
    font-weight: 800;
    line-height: 120%;
    font-size: 18px;
  }
  
  p{
    font-family: 'Inter Tight', sans-serif;
    font-style:normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 32px;
    padding-bottom: 40px;
  }

  }

@media only screen and (min-width:640px) { 

  .main-div{
    padding: 32px 40px 64px 40px;
  }
    
    h1{
      font-family: 'Inter Tight', sans-serif;
      font-style:normal;
      font-weight: 800;
      line-height: 120%;
      font-size: 24px;
    }
    
    p{
      font-family: 'Inter Tight', sans-serif;
      font-style:normal;
      font-weight: 400;
      line-height: 150%;
      font-size: 36px;
    }
  
  }


  
@media only screen and (max-width:799px) { 
.figma-pro{
  width: 100vw;
}
}

@media only screen and (min-width:800px) and (max-width:1199px) { 
  .figma-pro{
    width: 800px;
  }
}

@media only screen and (min-width:1200px) { 
  .figma-pro{
    width: 1200px;
  }
}